<div class="row">
  <div class="col-xs-12" ng-if="!ctrl.profile || !ctrl.build">
    loading...
  </div>
  <div class="col-xs-12" ng-if="ctrl.profile && ctrl.build">
    <h3>
      <dnsim-job-icon item="ctrl.getJob(ctrl.build)"></dnsim-job-icon>
      {{ctrl.buildName}} 
      <span ng-if="ctrl.build.guild">[{{ctrl.build.guild}}]</span>
      <small>
        <span ng-if="ctrl.build.region">in {{ctrl.build.region}}</span>
        <span ng-if="ctrl.build.about">
          <br />
          <em style="white-space:pre-wrap;">
{{ctrl.build.about}}
</em>
        </span>
        <br />
      </small>
    </h3>
    
    <p>
      created by: <a ng-href="profile/?uid={{ctrl.uid}}">{{ctrl.profile.name || 'unnamed user'}}</a>
      <br />
      <em style="white-space:pre-wrap;">{{ctrl.profile.about}}</em>
    </p>
    
    <a ng-href="{{ctrl.getBuildLink(ctrl.build)}}">
      view this build in the simulator
    </a>
    <br /><br />
  </div>
  <dnsim-view-build build="ctrl.build" ng-if="ctrl.build"></dnsim-view-build>
</div>
